@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeed2;
}

p, li {
    color: grey;
}

.galleria {
    margin: auto;
    margin-top: 30px;
    width: 80vw;
    height: 80vw;
}

.focim {
    text-align: center;
}


img {
    max-width:100%;
    height:auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 20px 0;
    padding: 10px;
    background-color: #769656;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

nav a:hover {
    background-color: white;
    color: #769656;
    font-weight: bold;
    border-radius: 15px;
}

.fooldal header {
    padding: 20px;
    background-color: #baca44;
    color: white;
    box-shadow: 10px 6px 0 rgba(186, 202, 68, 0.5);
    border-radius: 15px;
}

.fooldal header, .fooldal article {
    margin: 10px 6px 10px 6px;
}

section {
    display: flex;
    flex-direction: column;
}

.fooldal article p {
    padding: 20px;
    background-color: white;
    margin: 0;
    border-radius: 15px;
    /* margin: 10px 10px 5px 10px; */
}

footer {
    background-color: #769656;
    margin-top: 20px;
    text-align: center;
    padding: 30px 15px 30px 15px;
    color: white;
}

.sakktablak {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sakktablak article {
    flex-basis: 46%;
    margin: 5px;
}

.sakktablak article figure {
    margin: 0;
}

.sakktablak article figure figcaption {
    font-weight: bold;
    text-align: center;
}

.sakktablak article figure img:hover {
    border: black 5px dotted;
}

.kep_magyarazat {
    display: none;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.kozepjatek {
    display: flex;
}

.vegjatek {
    display: flex;
}

.kozepjatek article, .vegjatek article {
    margin: 5px;
    padding: 0 10px 0 10px;
    background-color: white;
    border-radius: 15px;
}

.quiz {
    flex-direction: column;
}

.kerdoiv form {
    margin: auto;
    text-align: center;
    line-height: 2em;
}

.quiz h4 {
    padding: 10px;
    background-color: #769656;
    border-radius: 15px;
    color: white;
}

.quiz h3 {
    padding: 10px;
}

.quiz p {
    padding: 0 10px 0 10px;
}

.quiz {
    display: flex;
    flex-direction: column;
}

.quiz_image {
    width: 70%;
    margin: auto;
    border: 5px solid #769656;
}

@media all and (min-width: 600px) {
    /* tablet */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fooldal header {
        flex-basis: 23%;
    }
    .fooldal article {
        flex-basis: 73%;
    }

    .sakktablak article {
        flex-basis: 31%;
    }

    #header2 {
        order: 4;
    }
    #header3 {
        order: 5;
    }
    #article3 {
        order: 6;
    }
    #article4 {
        order: 7;
    }
    #header4 {
        order: 8;
    }
    #felfedett_tamadas {
        flex-basis: 56%;
    }
    #villa {
        flex-basis: 40%;
    }
    #tiszt_gyalog, #ket_tobbletgyalog {
        flex-basis: 48%;
    }
}

@media all and (min-width: 768px) {
    /* számítógép */
    .galleria {
        width: 50vw;
        height: 50vw;
    }
    .sakktablak article {
        flex-basis: 23%;
    }
    #nyars {
        flex-basis: 36%;
    }
    #kotes {
        flex-basis: 59%;
    }

    #kiraly_bastya {
        flex-basis: 31%;
    }
    #kiraly_gyalog {
        flex-basis: 64%;
    }
    .quiz_image {
        flex-basis: 25%;
    }
    .quiz_description {
        flex-basis: 70%;
    }
}